html,body{
    margin: 0;
    height: 100%;
}
body {
    background-image: url(images/fondo-bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.score-container{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.enemies-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.enemies-container1{
    width: 33%;
    /* height: 45%; */
    background-image: url(images/goblin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.player-section{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
}
.player-container{
    width: 33%;
    /* height: 45%; */
    background-image: url(images/guerrero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}