body {
    margin:0;
    padding: 0;
    overflow: hidden;
}
.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.start-screen button{
    width: 150px;
    height: 50px;
    border-radius: 50%;
    background-color:#eedf08 ;
    font-weight: bold;
    border: solid 3px;
    cursor: pointer;
}
.start-screen button:hover{
    background-color: bisque;
}
.game-screen{
    display: none;
    justify-content: space-around;
    padding: 10px;
    background-image: url("images/fondo-cielo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.balloon {
    position: absolute;
    width: 70px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.end-screen button{
    width: 150px;
    height: 50px;
    border-radius: 50%;
    background-color:#eedf08 ;
    font-weight: bold;
    border: solid 3px;
    cursor: pointer;
}